{% extends "admin/base.html" %}
{% load static %}
{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
	{{ block.super }}
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name" class="randomness"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
